<!-- Redirection -->
<!-- <meta http-equiv="refresh" content="0; URL='employees/list'"> -->

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Days of Leave</title>

</head>

<body>

	<a th:href="@{/logout}">Logout</a>
	
	<div class="container">
		<h3>Days of Leave</h3>
		
		<hr>
		
		<!-- Add button -->
		<a th:href="@{/leavedays/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3 "> Add Leave Day </a>
			
		<!-- Add a button -->
		<a th:href="@{/employees/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3 "> Add Employee </a>
			
		<!-- Add a button -->
		<a th:href="@{/users/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3 "> Add User </a>
			
		<!-- Add a button -->
		<a th:href="@{/users/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3 "> Add Authority </a>
			
		<hr>

		<a href="http://localhost:8080/employees/list">Go to Employees List</a>
		
		<hr>
		
		<a href="http://localhost:8080/leavedays/list">Go to Leave days List</a>
		
		<hr>
		
		<a href="http://localhost:8080/users/list">Go to Users List</a>
		
		<hr>
		
		<a href="http://localhost:8080/authorities/list">Go to Authority List</a>
		
		<hr>
		
		
	</div>

</body>


</html>