<!-- Redirection -->
<!-- <meta http-equiv="refresh" content="0; URL='employees/list'"> -->
<!DOCTYPE HTML>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title th:text="#{days.of.leave}"></title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption !== '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>

</head>

<body>



	<div class="container">
	
		<span th:text="#{lang.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="pl" th:text="#{lang.pl}"></option>
	</select>

	<a th:href="@{/logout}" th:text="#{logout}"></a>
		<h1 th:text="#{days.of.leave}"></h1>
		
		<h3 th:text="${employee.firstName} + ' ' + ${employee.lastName}"></h3>

		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<hr>
	
			<!-- Add button -->
			<a th:href="@{/leavedays/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3 " th:text="#{add.leave.day}"></a>

			<!-- Add a button -->
			<a th:href="@{/employees/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3 " th:text="#{add.employee}"></a>

			<!-- Add a button -->
			<a th:href="@{/users/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3 " th:text="#{add.user}"></a>

			<!-- Add a button -->
			<a th:href="@{/authorities/showFormForAdd}"
				class="btn btn-primary btn-sm mb-3 " th:text="#{add.authority}"></a>

			<hr>

			<a href="http://localhost:8080/employees/list" th:text="#{display.employees}"></a>

			<hr>

			<a href="http://localhost:8080/leavedays/list" th:text="#{display.leave.days}"></a>

			<hr>

			<a href="http://localhost:8080/users/list" th:text="#{display.users}"></a>

			<hr>

			<a href="http://localhost:8080/authorities/list" th:text="#{display.authorities}"></a>

			<hr>
		</div>

		<div>
			<p>
			<p></p>
		</div>

		<div class="card text-white bg-success mb-3" style="max-width: 9rem;">
			<div class="card-header text-center"th:text="#{counter}" ></div>
			<div class="card-body">
				<h2 class="card-title text-center" th:text="${leavedayscounter}"></h2>
			</div>
		</div>

		<!-- Add button -->
		<a th:href="@{/leavedays/showFormForAdd2}"
			class="btn btn-primary btn-sm mb-3 " th:text="#{add.leave.day}"></a>

		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th th:text="#{username}"></th>
					<th th:text="#{password}"></th>
					<th th:text="#{action}"></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempUser: ${users}">
					<td th:text="${tempUser.username}" />
					<td th:text="${tempUser.password}" />
					<td>
						<!-- Add update button / link --> <a
						th:href="@{/users/showFormForUpdate2(username=${tempUser.username})}"
						class="btn btn-info btn-sm" th:text="#{update}">  </a>

					</td>

				</tr>

			</tbody>


		</table>

		<hr>

		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th th:text="#{firstname}"> </th>
					<th th:text="#{lastname}"> </th>
					<th th:text="#{date.from}"></th>
					<th th:text="#{date.to}"> </th>
					<th th:text="#{leave.days}"> </th>
					<th th:text="#{year}"></th>
					<th th:text="#{action}"></th>

				</tr>
			</thead>

			<tbody>
				<tr th:each="tempLeaveDay: ${leavedays}">
					<td th:text="${tempLeaveDay.employee.firstName}" />
					<td th:text="${tempLeaveDay.employee.lastName}" />
					<td th:text="${tempLeaveDay.dateFrom}" />
					<td th:text="${tempLeaveDay.dateTo}" />
					<td th:text="${tempLeaveDay.leaveDays}" />
					<td th:text="${tempLeaveDay.year}" />

					<td>
						<!-- Add update button / link
						<a th:href="@{/leavedays/showFormForUpdate(leavedaysId=${tempLeaveDay.id})}" 
							class="btn btn-info btn-sm">
						Update
						</a>
						 --> <!-- Add Print button / link --> <a
						th:href="@{/leavedays/print(leavedaysId=${tempLeaveDay.id})}"
						class="btn btn-info btn-sm"
						onclick="if (!(confirm('Are you sure you want to print proposal?'))) return false" th:text="#{save}">
							 </a> <!-- Add Print button / link --> <a
						th:href="@{/leavedays/download}" class="btn btn-info btn-sm" th:text="#{download}">
							 </a> <!-- Add Delete button / link --> <a
						th:href="@{/leavedays/delete(leavedaysId=${tempLeaveDay.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this leave day?'))) return false" th:text="#{delete}">
							 </a>

					</td>

				</tr>

			</tbody>


		</table>


	</div>

</body>


</html>