<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title th:text="#{update.user.form}"></title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	//Accessing to the model atribute in java script
	var username = "[[${users.username}]]";
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption !== '') {
				window.location.replace('?lang=' + selectedOption + "&username=" + username);
			}
		});
	});
</script>

</head>

<body>

	<div class="container">
	
		<span th:text="#{lang.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="pl" th:text="#{lang.pl}"></option>
	</select>

	<a th:href="@{/logout}" th:text="#{logout}"></a>
		<h1 th:text="#{update.user.form}"></h1>
		<hr>
		
		<p class="h4 mb-4" th:text="#{update.user}"></p>
		
		<form action="#" th:action="@{/users/save}"
						 th:object="${users}" method="POST">
						 
			
			<!-- Add hiden form field to handle update -->
			<label th:text="#{username}"></label>
			<input type="text" th:field="*{username}"
					class="form-control mb-4 col-4" placeholder="Username">
			<label th:text="#{password}"></label>
			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="Password">
			<label th:text="#{enabled}"></label>
			<input type="text" th:field="*{enabled}"
					class="form-control mb-4 col-4" placeholder="Enabled">
		
			<button type="submit" class="btn btn-info col-2" th:text="#{save}"></button>
					
		</form>
		
		<hr>
		<a th:href="@{/users/list}" th:text="#{back.to.users.list}"></a>
	
	</div>

</body>


</html>