<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Save Employee Form</title>

</head>

<body>

	<a th:href="@{/logout}">Logout</a>

	<div class="container">
	
		<h3>Days of Leave</h3>
		<hr>
		
		<p class="h4 mb-4">Save Authorities</p>
		
		<form action="#" th:action="@{/authorities/save}"
						 th:object="${authorities}" method="POST">
						 
		
			<label>User name</label>
			<input type="text" th:field="*{username}"
					class="form-control mb-4 col-4" placeholder="Username">
			<label>Authority</label>
			<br>
			<select th:field="*{authority}">
    			<option th:value="ROLE_ADMIN" th:text="ROLE_ADMIN"></option>
    			<option th:value="ROLE_EMPLOYEE" th:text="ROLE_EMPLOYEE"></option>
    			<option th:value="ROLE_MANAGER" th:text="ROLE_MANAGER"></option>
			</select>
			<br>
			<br>
			<button type="submit" class="btn btn-info col-2">Save</button>
					
		</form>
		
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
	
	</div>

</body>


</html>