<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title th:text="#{days.of.leave}"></title>

</head>

<body>

	<a th:href="@{/logout}" th:text="#{logout}"></a>
   
	<div class="container">
		<h1 th:text="#{days.of.leave}"></h1>
		<hr>
		
		<p class="h4 mb-4" th:text="#{save.authorities"></p>
		
		<form action="#" th:action="@{/authorities/save}"
						 th:object="${authorities}" method="POST">
						 
		
			<label th:text="#{username}"></label>
			<input type="text" th:field="*{username}"
					class="form-control mb-4 col-4" placeholder="Username">
			<label th:text="#{authority}"></label>
			<br>
			<select th:field="*{authority}">
    			<option th:value="ROLE_ADMIN" th:text="#{admin}"></option>
    			<option th:value="ROLE_EMPLOYEE" th:text="#{employee}"></option>
    			<option th:value="ROLE_MANAGER" th:text="#{manager}"></option>
			</select>
			<br>
			<br>
			<button type="submit" class="btn btn-info col-2" th:text="#{save}"></button>
					
		</form>
		
		<hr>
		<a th:href="@{/authorities/list}" th:text="#{back.to.authorities.list}"></a>
	
	</div>

</body>


</html>