
.counter-card{
	margin: 8px;
}

.add-card{
	margin: 8px;
}

.add-day:link{
	text-decoration: none;
}

.buttons-panel{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;	
}

.container{
	margin-top: 16px;
	margin-bottom: 16px;
	
}


@media (max-width: 800px) {
    .buttons-panel {
     	 grid-template-columns: 1fr; 
      }
      
      
      
      
      
      
      
      
      
      
      
      
      
      
