<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
<title th:text="#{add.employee.form}"></title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	var id = "[[${employee.id}]]";
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption !== '') {
				window.location.replace('?lang=' + selectedOption + "&employeeId=" + id);
			}
		});
	});
</script>

</head>

<body>

		<div class="container">

	<div class="d-flex justify-content-between">  
		<select class="language-select" id="locales">
			<option value=""><p th:text="#{lang.change}"></p></option>
			<option value="en" th:text="#{lang.eng}"></option>
			<option value="pl" th:text="#{lang.pl}"></option>
		</select> 
		
		<div id="logoutLink" class="logout-link">
				<a href="#" onclick="document.getElementById('logoutForm').submit();" th:text="#{logout}" ></a>
		</div>
		
		<form id="logoutForm" name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
      		<input hidden type="submit" value="Sign Out"/>
   		</form> 
	</div>	

		<hr>
		<h1 th:text="#{add.employee.form}"></h1>
		<hr>
		
		<p class="h4 mb-4" th:text="#{save.employee}"></p>
		
		<form action="#" th:action="@{/employees/save}"
						 th:object="${employee}" method="POST">
						 
			<div class="employee-form">	 
			
			<div class="employee-form-column">
			<!-- Add hiden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<label th:text="#{firstname}"></label>
			<input required pattern="[a-zA-ZżŻźŹćĆóÓęĘąąĄśŚłŁńŃ]+" type="text" th:field="*{firstName}"
					th:placeholder="#{firstname}"
					th:title="#{only.characters}"
					class="form-control">
			<label th:text="#{lastname}"></label>
			<input required pattern="[a-zA-ZżŻźŹćĆóÓęĘąąĄśŚłŁńŃ]+" type="text" th:field="*{lastName}"
					th:placeholder="#{lastname}"
					th:title="#{only.characters}"
					class="form-control">
			<label th:text="#{username}"></label>
			<input required pattern="(?=^.{8,}$)[a-z].*$"  
					type="text" th:field="*{login}"
					th:placeholder="#{username}"
					th:title="#{only.upper.lower.special}"
					class="form-control">
			<label th:text="#{password}"></label>
			<input required pattern="(?=^.{8,}$)[a-z].*$" 
					type="text" th:field="*{password}"
					th:placeholder="#{password}"
					th:title="#{only.upper.lower.special}"
					class="form-control">
			</div>
			<div class="employee-form-column">
			<label th:text="#{phonenumber}"></label>
			<input required pattern="^([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])([0-9])" 
					type="text" th:field="*{tel}"
					class="form-control" placeholder="999999999"
					th:title="#{only.phone.number}">
			<label th:text="#{leave.days.limit}"></label>
			<input required type="number" th:field="*{leaveDaysLimit}"
					class="form-control" placeholder="Leave Days Limit"
					min="1" max="26">
			<label th:text="#{yours.leave.days}"></label>
			<input required type="number" th:field="*{yourLeaveDays}"
					class="form-control" placeholder="Your's Leave Days"
					min="1" max="26">
			<label th:text="#{current.year}"></label>
			<input required type="number" th:field="*{currentYear}"
					class="form-control" placeholder="Current Year"
					min="2000" max="3000">
			</div>
			<div class="employee-form-column">
			<label th:text="#{date.of.employment}"></label>
			<input required type="date" th:field="*{dateOfEmployment}"
					class="form-control" placeholder="Date of Employment">
			<label th:text="#{date.of.expire}"></label>
			<input required type="date" th:field="*{dateOfExpire}"
					class="form-control" placeholder="Date of Expire" >
			<label th:text="#{medical.examination}"></label>
			<input required type="date" th:field="*{medicalExamination}"
					class="form-control" placeholder="Medical examination" >
			<label th:text="#{osh.training}"></label>
			<input required type="date" th:field="*{oshTraining}"
					class="form-control" placeholder="Osh training" >
			<label th:text="#{role}"></label>
			<br>
			<select style="width: 100%; height: 38px; border-radius: 4px; border-color: #d3d3d3;"th:field="*{role}">
				<option th:value="ROLE_EMPLOYEE" th:text="employee"></option>
    			<option th:value="ROLE_ADMIN" th:text="admin"></option>
    			<option th:value="ROLE_MANAGER" th:text="manager"></option>
			</select>
			<br>
			<br>
			<button type="submit" class="btn btn-info" style="width: 100%; margin-top: 8px; " th:text="#{save}"></button>
			</div>
			</div>
					
		</form>
		
		<hr>
		<a th:href="@{/}" th:text="#{back.to.home}"></a>
	
	</div>

</body>


</html>