<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Save Employee Form</title>

</head>

<body>

	<a th:href="@{/logout}">Logout</a>

	<div class="container">
	
		<h3>Days of Leave</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
		
		<form action="#" th:action="@{/employees/save}"
						 th:object="${employee}" method="POST">
						 
						 
			<!-- Add hiden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-4" placeholder="First name">
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-4" placeholder="Last name">
			<input type="text" th:field="*{login}"
					class="form-control mb-4 col-4" placeholder="login">
			<input type="text" th:field="*{password}"
					class="form-control mb-4 col-4" placeholder="password">
			<label>Telephone</label>
			<input type="text" th:field="*{tel}"
					class="form-control mb-4 col-4" placeholder="999999999">
			<label>Leave Days Limit</label>
			<input type="text" th:field="*{leaveDaysLimit}"
					class="form-control mb-4 col-4" placeholder="Leave Days Limit">
			<label>Your's Leave Days</label>
			<input type="text" th:field="*{yourLeaveDays}"
					class="form-control mb-4 col-4" placeholder="Your's Leave Days">
			<label>Current Year</label>
			<input type="text" th:field="*{currentYear}"
					class="form-control mb-4 col-4" placeholder="Current Year">
			<label>Date of Employment</label>
			<input type="date" th:field="*{dateOfEmployment}"
					class="form-control mb-4 col-4" placeholder="Date of Employment">
			<label>Date of Expire</label>
			<input type="date" th:field="*{dateOfExpire}"
					class="form-control mb-4 col-4" placeholder="Date of Expire" >
		<button type="submit" class="btn btn-info col-2">Save</button>
					
		</form>
		
		<hr>
		<a th:href="@{/employees/list}">Back to Employees List</a>
	
	</div>

</body>


</html>