<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title th:text="#{add.leave.day.form}"></title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption !== '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>

</head>

<body>

	<div class="container">
	
		<span th:text="#{lang.change}"></span>:
	<select id="locales">
		<option value=""></option>
		<option value="en" th:text="#{lang.eng}"></option>
		<option value="pl" th:text="#{lang.pl}"></option>
	</select>

	<a th:href="@{/logout}" th:text="#{logout}"></a>
		<h1 th:text="#{add.leave.day.form}"></h1>
		<hr>
		<h3 th:text="*{employee.firstName}"></h3> 
		<h3 th:text="*{employee.lastName}"></h3>
		<hr>
		
		<form action="#" th:action="@{/leavedays/save}"
						 th:object="${leavedays}" method="POST">
						 
						 
			<!-- Add hiden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<label th:text="#{employee.id}"></label>
			<input readonly="readonly" type="text" pattern="^([0-9]){0,3}" th:field="*{employee}"
					class="form-control mb-4 col-4" th:placeholder="#{employee.id}"
					th:title="#{only.numbers.1.999}">
					

			<label th:text="#{date.from}"></label>
			<input required type="date" th:field="*{dateFrom}"
					class="form-control mb-4 col-4" placeholder="Date From">
			<label th:text="#{date.to}"></label>
			<input required type="date" th:field="*{dateTo}"
					class="form-control mb-4 col-4" placeholder="Date To">
			<label th:text="#{leave.days}"></label>
			<input pattern="^([1-9])([0-9]){0,1}" type="text" th:field="*{leaveDays}"
					class="form-control mb-4 col-4" placeholder="Leave Days"
					th:title="#{only.numbers.1.99}">
			<label th:text="#{year}"></label>
			<input pattern="^([2])([0-9])([0-9])([0-9])" type="text" th:field="*{year}"
					class="form-control mb-4 col-4" placeholder="Year"
					th:title="#{only.years.2000}">
		
		<button type="submit" class="btn btn-info col-2" th:text="#{save}"></button>
					
		</form>
		
		<hr>
		<a th:href="@{/}" th:text="#{back.to.home}"></a>
	
	</div>

</body>


</html>