<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Days of Leave</title>

</head>

<body>

	<div class="container">
		<h3>List of leave days</h3>
		<hr>

		<!-- Add a button -->
		<a th:href="@{/leavedays/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3 "> Add Leave Day </a>
			
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Date From</th>
					<th>Date to</th>
					<th>Leave days</th>
					<th>Year</th>
					<th>Action</th>
					
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempLeaveDay: ${leavedays}">
					<td th:text="${tempLeaveDay.employee.firstName}" />
					<td th:text="${tempLeaveDay.employee.lastName}" />
					<td th:text="${tempLeaveDay.dateFrom}" />
					<td th:text="${tempLeaveDay.dateTo}" />
					<td th:text="${tempLeaveDay.leaveDays}" />
					<td th:text="${tempLeaveDay.year}" />
					
					<td>
					
						<!-- Add update button / link
						<a th:href="@{/leavedays/showFormForUpdate(leavedaysId=${tempLeaveDay.id})}" 
							class="btn btn-info btn-sm">
						Update
						</a>
						 -->
						<!-- Add Print button / link -->
						<a th:href="@{/leavedays/print(leavedaysId=${tempLeaveDay.id})}" 
							class="btn btn-info btn-sm"
							onclick="if (!(confirm('Are you sure you want to print proposal?'))) return false">
						Print
						</a>
						
						<!-- Add Delete button / link -->
						<a th:href="@{/leavedays/delete(leavedaysId=${tempLeaveDay.id})}" 
							class="btn btn-danger btn-sm"
							onclick="if (!(confirm('Are you sure you want to delete this leave day?'))) return false">
						Delete
						</a>
						
					</td>
					
				</tr>

			</tbody>


		</table>
		
	<hr>
		
	<a th:href="@{/}">Back to Home</a>

	</div>

</body>


</html>